// Styles from 0 to 100% jumping from 5 to 5:
@for $i from 0 through 20 {
  .w-#{$i * 5} {
    width: $i * 5% !important;
  }

  .h-#{$i * 5} {
    height: $i * 5% !important;
  }
}

.w-auto {
  width: auto;
}

.h-auto {
  height: auto;
}
