@use 'sass:color';

:root {
  // Colors
  --primary: #43b883;
  --primary-light: #{color.adjust(#43b883, $lightness: 5%)};
  --primary-darker: #{color.adjust(#43b883, $lightness: -5%)};
  --secondary: #35495e;
  --secondary-light: #{color.adjust(#35495e, $lightness: 5%)};
  --secondary-darker: #{color.adjust(#35495e, $lightness: -5%)};
  --info: #14d5f3;
  --info-light: #{color.adjust(#14d5f3, $lightness: 5%)};
  --info-darker: #{color.adjust(#14d5f3, $lightness: -5%)};
  --success: #37c991;
  --success-light: #{color.adjust(#37c991, $lightness: 5%)};
  --success-darker: #{color.adjust(#37c991, $lightness: -5%)};
  --warning: #ffb23e;
  --warning-light: #{color.adjust(#ffb23e, $lightness: 5%)};
  --warning-darker: #{color.adjust(#ffb23e, $lightness: -5%)};
  --danger: #fd6e64;
  --danger-light: #{color.adjust(#fd6e64, $lightness: 5%)};
  --danger-darker: #{color.adjust(#fd6e64, $lightness: -5%)};
  --grey-1: #f9f9f9;
  --grey-2: #f1f1f1;
  --grey-3: #eef4fb;
  --grey-4: #e0e0e0;
  --grey-5: #cbcbcb;
  --grey-6: #c0c0c0;
  --grey-7: #aeb2bf;
  --dark-1: #616161;
  --dark-2: #3d464d;

  --text-color: var(--dark-2);

  // Fonts
  --font-primary: 'Lato', sans-serif;
  --font-secondary: 'Gilroy', sans-serif;
  --font-size: 16px;

  // Form
  --field-spacing-y: 15px;
  --field-spacing-x: 15px;
  --field-icon-size: 20px;
  --field-height: 50px;
  --field-border-color: #dae8f7;
  --field-active-border-color: var(--primary);
}
